@import "clash-display.css";

/* You are now ready to use the following Rules in your CSS to specify each Font Style:
```
font-family: ClashDisplay-Extralight;
font-family: ClashDisplay-Light;
font-family: ClashDisplay-Regular;
font-family: ClashDisplay-Medium;
font-family: ClashDisplay-Semibold;
font-family: ClashDisplay-Bold;
font-family: ClashDisplay-Variable;

``` */

* {
  box-sizing: border-box;
}

body {
  background-color: #EFEFEF !important;
}

.sec-gap{
  padding:90px 0px;
}


#navbarText {
  justify-content: flex-end;
}

.header .container-fluid {
  padding: 0px 25px;
}

.custom-container {
  max-width: 95%;
  margin: 0 auto;
}

.header a {
  font-family: ClashDisplay-Medium;
  font-size: 16px;
}


.hero-heading {
  padding: 40px 0px;
}

.hero-heading h1 {
  color: black;
  font-family: ClashDisplay-Regular;
  font-size: 182px;
  line-height: 223.86px;
  text-align: left;
}

.hero-heading p {
  font-family: ClashDisplay-Regular;
  font-size: 24px;
  line-height: 29.52px;
  text-align: left;
}

.hero-heading .col-3 {
  align-self: flex-end;
  padding-right: 50px;
  margin-bottom: 50px;
}

.hero-content h3 {
  font-family: ClashDisplay-Regular;
  font-size: 44px;
  line-height: 54.12px;
  text-align: left;
  margin-bottom: 25px;
}

.hero-content .btn {
  border-radius: 20px;
  background-color: black;
  font-family: ClashDisplay-Regular;
  font-size: 22px;
  padding: 5px 14px;
  border: none;
}

.hero-content h4 {
  font-family: ClashDisplay-Medium;
  font-size: 18px;
  line-height: 22.14px;
  color:grey;
  border-bottom: 1px solid grey;
  display: inline-block;
  padding-bottom: 10px;
}

.hero-content li {
  font-family: ClashDisplay-Medium;
  font-size: 18px;
  line-height: 27px;
  list-style-type: none;
}


.services .row {
  margin: 0px;
}

.services h3 {
  font-family: ClashDisplay-Medium;
  font-size: 44px;
  line-height: 54.12px;
}

.services-heading {
  padding-bottom: 25px;
}

.services .col-lg-4 {
  padding: 0px 50px;
  border-left: 1px solid rgb(207, 207, 207);
}

.services .col-4 h3 {
  color: grey !important;
  font-family: ClashDisplay-Regular !important;
  margin-bottom:30px;
}

.services h4 {
  font-family: ClashDisplay-Medium;
  font-size: 24px;
  line-height: 29.52px;
}

.services p {
  font-family: ClashDisplay-Regular;
  font-size: 18px;
  line-height: 22.14px;
  color: black;
  margin-bottom: 10px;
}


.work-head {
  padding-bottom: 20px;
}

.work-head h3 {
  font-family: ClashDisplay-Medium;
  font-size: 44px;
  line-height: 29.52px;
}

.work-head h4 {
  font-family: ClashDisplay-Medium;
  font-size: 24px;
  line-height: 29.52px;
}

.text-right {
  text-align: right;
}

.work-boxes {
  background-image: url("../images/back.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.work-box {
  padding: 30px 0px 10px;
  border-top: 1px solid #828282;
}

.work-box h2 {
  font-family: ClashDisplay-Medium;
  font-size: 90px;
  line-height: 1.1;
}

.work-box p {
  font-family: ClashDisplay-Regular;
  font-size: 24px;
  line-height: 29.52px;
  color: black;
}

.work-number {
  align-self: center;
}

.work-box h4 {
  font-family: ClashDisplay-Medium;
  font-size: 34px;
  line-height: 41.82px;
}


.process h2 {
  font-family: ClashDisplay-Medium;
  font-size: 44px;
  line-height: 54.12px;
}

.process h3 {
  font-family: ClashDisplay-Regular;
  font-size: 24px;
  line-height: 29.52px;
  text-align: left;
}


/* Accordian CSS */

.accordians .accordion {
  font-family: ClashDisplay-Medium;
  color: black;
  font-size: 24px;
  cursor: pointer;
  padding: 40px 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.accordians .accordion span {
  margin-right: 30px;
}

.accordians .panel {
  padding: 0 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom: 1px solid #828282;

}

.accordians .panel p {
  font-family: ClashDisplay-Regular;
  font-size: 18px;
  line-height: 22.14px;
  text-align: left;
  color: black !important;
  margin-bottom: 40px;
}

.accordians .accordion:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.accordians .active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}


.contact {
  padding-bottom: 60px !important;
}

.contact h1 {
  font-family: ClashDisplay-Medium;
  font-size: 96px;
  line-height: 118.08px;
  text-align: left;
}

.contact .btn {
  border-radius: 20px;
  background-color: black;
  font-family: ClashDisplay-Regular;
  font-size: 22px;
  padding: 5px 14px;
  border: none;
}

.contact .col-3{
  align-self:flex-end;  
}

.footer{
  padding:25px 0px;
}

.footer h3{
  font-family: ClashDisplay-Regular;
  font-size: 24px;
  line-height: 29.52px;
}

.sm-break{
  display:none;
}

.footer li{
  list-style-type: none;
  display:inline-block;
  font-family: ClashDisplay-Medium;
  font-size: 18px;
  line-height: 22.14px;
  margin-right:20px;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .hero-heading h1 {
    font-size: 150px;
    line-height: 1.2;
  }
  .contact h1 {
    font-size: 76px;
    line-height: 1.2;
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 769px) {
  .services .row{
    flex-direction:column;
  }
  .services p{
    font-size:20px;
  }
  .services .col-lg-4 {
    margin-bottom:20px; 
  }
  .work-head h3{
    margin-bottom:25px;
  }
  .work-head .text-right{
    text-align: left !important;
  }
  .work-boxes {
    background-position: top;
    background-size: 75%;
  }
  .contact .text-right{
    text-align:left;
  }
  .contact h1{
    margin-bottom:20px;
  }
  .footer .col-md-12{
    text-align: center;
  }
}

@media only screen and (max-width: 426px) {
  .custom-container{
    max-width:90%;
  }
  .sec-gap{
    padding:45px 0px;
  }
  .hero-heading h1{
    font-size:78px;
  }
  .hero-content {
    margin-top:30px;
  }
  .hero-content .col-md-5{
    margin-top:10px;
  }
  .hero-content .btn {
    margin-top:20px;
  }
  .services .col-lg-4{
    padding:0px 30px;
  }
  .work-boxes{
    background-image: none;
  }
  .work-box h2{
    font-size:45px;
  }
  .work-box p{
    font-size:18px;
  }
  .sm-break{
    display:block;
  }
  .contact h1{
    font-size: 44px;
  }
  .footer li{
    margin-top:15px;
  }
}